<div class="timeline">
  <div class="timeline_left-panel">
    <div class="timeline_header">Work Center</div>
    <div class="timeline_left-panel-item">Genesis Hardware</div>
    <div class="timeline_left-panel-item">Rodriques Electrics</div>
    <div class="timeline_left-panel-item">Konsulting Inc</div>
    <div class="timeline_left-panel-item">McMarrow Distribution</div>
    <div class="timeline_left-panel-item">Spartan Manufacturing</div>
  </div>
  <div class="timeline_right-panel">
    <div class="timeline_right-panel-scroller">
      <div class="timeline_header">
        <div class="timeline_month-column-header">Aug 2024</div>
        <div class="timeline_month-column-header">Sep 2024</div>
        <div class="timeline_month-column-header">Oct 2024</div>
        <div class="timeline_month-column-header">Nov 2024</div>
        <div class="timeline_month-column-header">Dec 2024</div>
        <div class="timeline_month-column-header">Jan 2025</div>
        <div class="timeline_month-column-header">Feb 2025</div>
        <div class="timeline_month-column-header">Mar 2025</div>
      </div>

      <div class="timeline_row"></div>
      <div class="timeline_row"></div>
      <div class="timeline_row"></div>
      <div class="timeline_row"></div>
      <div class="timeline_row"></div>
    </div>
  </div>
</div>
