:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-title {
  margin-top: 45px;
  margin-bottom: 26px;
}

.timescale-selector {
  display: flex;
  margin-bottom: 24px;
  font-size: 13px;
  box-shadow: 1px 2.5px 3px -1.5px rgba(200, 207, 233, 1);
  width: fit-content;
  border-radius: 5px;
}

.timescale-selector_label {
  padding: 4px 8px 5px 8px;
  background-color: rgba(241, 243, 248, 0.75);
  font-weight: 400;
  color: rgba(104, 113, 150, 1);
  font-style: book;
  border-radius: 5px 0px 0px 5px;
}

.timescale-selector_select {
  display: flex;
  gap: 6.5px;
  padding: 4px 8px 5px 8px;
  color: rgba(62, 64, 219, 1);
  font-weight: 500;
  border-radius: 0px 5px 5px 0px;
}

.timescale-selector_select span {
  display: flex;
  align-items: center;
}
