:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#logo {
  width: 80px;
}

header {
  padding: 20px 101px;
}

.main-content {
  padding-left: 101px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  header {
    padding: 20px 16px;
  }

  .main-content {
    padding-left: 16px;
  }
}
