.ng-select {
  &.ng-select-opened {
    &.ng-select-clearable .ng-select-container.ng-has-value:hover {
      .ng-clear-wrapper {
        opacity: 0;
        pointer-events: none;
      }
      .ng-arrow-wrapper {
        opacity: 1;
        pointer-events: auto;
      }
    }

    > .ng-select-container {
      .ng-arrow-wrapper {
        transform: rotate(180deg);
        opacity: 1;
      }
    }
  }

  .ng-dropdown-panel {
    box-shadow:
      0 0 0 1px rgba(104, 113, 150, 0.1),
      0 2.5px 3px -1.5px var(--shadow-color),
      0 4.5px 5px -1px var(--border-color);
    background-color: white;
    border-radius: 5px;
    padding: 12px 0;
    top: 30px;

    .ng-option {
      padding: 5px 12px;
      font-size: 14px;
      font-weight: 400;
      color: var(--text-color-heading);

      &.ng-option-marked {
        background-color: oklch(98.5% 0 0);
      }

      &.ng-option-selected {
        color: var(--text-color-primary);
      }
    }
  }

  &.ng-select-input {
    box-shadow:
      0 0 0 1px var(--border-color),
      0 1.5px 3px -1.5px var(--shadow-color),
      0 1px 0.5px -1px var(--border-color);
    border-radius: 5px;
    background-color: var(--input-bg);
    height: 38px;
    display: flex;
    align-items: center;

    .ng-dropdown-panel {
      top: 45px;
    }

    .ng-arrow-wrapper {
      width: 16px;
      height: 26px;
      transition: transform 0.3s;

      .ng-arrow {
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: var(--text-color-secondary) transparent transparent transparent;
        border-radius: 0.5px;
      }
    }
    .ng-select-container {
      padding: 0 8px;
      align-items: center;
    }

    &.ng-select-opened,
    &.ng-select-focused {
      outline: 2px solid var(--focus-color);
      outline-offset: 1px;
    }
  }

  &:not(.ng-select-input).cdk-keyboard-focused {
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
  }
}
