:root {
  --text-color-primary: rgba(62, 64, 219, 1);
  --text-color-dark: rgba(3, 9, 41, 1);
  --text-color-heading: rgba(47, 48, 89, 1);
  --text-color-secondary: rgba(104, 113, 150, 1);
  --text-color-placeholder: rgba(164, 170, 192, 1);
  --border-color: rgba(216, 220, 235, 1);
  --border-color-light: rgba(230, 235, 240, 1);
  --shadow-color: rgba(200, 207, 233, 1);
  --focus-color: rgba(170, 175, 255, 1);
  --input-bg: rgba(255, 255, 255, 1);
  --status-in-progress-text: rgba(62, 64, 219, 1);
  --status-in-progress-bg: rgba(214, 216, 255, 1);
  --status-complete-text: rgba(8, 162, 104, 1);
  --status-complete-bg: rgba(225, 255, 204, 1);
  --status-blocked-text: rgba(177, 54, 0, 1);
  --status-blocked-bg: rgba(252, 238, 181, 1);
  --status-open-text: rgba(0, 176, 191, 1);
  --status-open-border: rgba(206, 251, 255, 1);
  --status-open-bg: rgba(228, 253, 255, 1);
}

/** Preflight **/
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

html,
body {
  font-family: 'Circular-Std';
  height: 100%;
  margin: 0;
}

/** Typography **/
h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color-dark);
}

/** Button **/
.app-button {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color-heading);
  padding: 6.5px 8px;
  box-shadow:
    0 0 0 1px var(--input-bg),
    0 1px 3px 0 var(--shadow-color);
  border-radius: 7px;
  background-color: white;
  border: 0;

  &:focus-visible {
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
  }

  &--primary {
    box-shadow:
      0 0 0 1px rgba(86, 89, 255, 1),
      0 1px 3px 0 var(--shadow-color);
    background-color: rgba(86, 89, 255, 1);
    color: white;
  }

  &--small {
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 5px;
  }
}

/** Forms */
.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  position: relative;

  .label {
    color: var(--text-color-secondary);
    font-size: 14px;
    font-weight: 500;
  }

  .input {
    box-shadow:
      0 0 0 1px var(--border-color),
      0 1.5px 3px -1.5px var(--shadow-color),
      0 1px 0.5px -1px var(--border-color);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text-color-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 11px 9px;
    border: none;

    &::placeholder {
      color: var(--text-color-placeholder);
    }

    &:focus {
      outline: 2px solid var(--focus-color);
      outline-offset: 1px;
    }
  }

  .error {
    position: absolute;
    bottom: -22px;
    color: oklch(63.7% 0.237 25.331);
    font-size: 12px;
    font-weight: 400;
  }
}
