:root {
  --text-color-primary: rgba(62, 64, 219, 1);
}

html,
body {
  font-family: 'Circular-Std';
}

/** Preflight **/
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

/** Typography **/
h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(3, 9, 41, 1);
}

/** Button **/
.app-button {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: rgba(47, 48, 89, 1);
  padding: 6.5px 8px;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 1),
    0 1px 3px 0 rgba(200, 207, 233, 1);
  border-radius: 7px;
  background-color: white;
  border: 0;
}

.app-button--primary {
  box-shadow:
    0 0 0 1px rgba(86, 89, 255, 1),
    0 1px 3px 0 rgba(200, 207, 233, 1);
  background-color: rgba(86, 89, 255, 1);
  color: white;
}

/** Forms */
.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .label {
    color: rgba(104, 113, 150, 1);
    font-size: 14px;
    font-weight: 500;
  }

  .input {
    box-shadow:
      0 0 0 1px rgba(216, 220, 235, 1),
      0 1.5px 3px -1.5px rgba(200, 207, 233, 1),
      0 1px 0.5px -1px rgba(216, 220, 235, 1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(3, 9, 41, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 11px 9px;
    border: none;
  }

  .input::placeholder {
    color: rgba(164, 170, 192, 1);
  }

  .input:focus {
    box-shadow: 0 0 0 2px rgba(170, 175, 255, 1);
    outline: none;
  }
}
