header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid var(--border-color-light);

  h2 {
    color: var(--text-color-heading);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  p {
    color: var(--text-color-secondary);
    font-size: 16px;
    font-weight: 400;
  }

  .buttons {
    display: flex;
    gap: 8px;
  }
}

.content {
  padding: 25px;
}

.inputs {
  display: flex;
  flex-direction: column;
}
