header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(230, 235, 240, 1);

  h2 {
    color: rgba(47, 48, 89, 1);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  p {
    color: rgba(104, 113, 150, 1);
    font-size: 16px;
    font-weight: 400;
  }

  .buttons {
    display: flex;
    gap: 8px;
  }
}

.content {
  padding: 25px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
